<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fziyo.sms.mapper.BorrowRequestMapper">
<!--    <insert id="insert">-->
<!--        insert into borrow_request(asset_id, borrower_id, status, request_approver_id,request_approve_time-->
<!--        borrow_start_time, return_request_time, return_approver_id, return_approve_time)-->
<!--        values(#{assetId}, #{borrowerId}, #{status}, #{requestApproverId}, #{requestApproveTime}, #{borrowStartTime},-->
<!--        #{returnRequestTime}, #{returnApproverId}, #{returnApproveTime})-->
<!--    </insert>-->

    <insert id="insert">
        insert into borrow_request(asset_id, borrower_id, status)
        values(#{assetId}, #{borrowerId}, #{status})
    </insert>

    <delete id="deleteByIds">
        delete from team where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="approveRequest">
        update borrow_request
        <set>
            <if test="approveStatus != null"> status = #{approveStatus},</if>
            <if test="approverId != null"> request_approver_id = #{approverId},</if>
            request_approve_time = now(),

<!--            <if test="borrowStartTime != null">borrow_start_time = #{borrowStartTime},</if>-->
<!--            <if test="returnRequestTime != null">return_request_time = #{returnRequestTime},</if>-->
        </set>
        where id = #{id}
    </update>

    <update id="approveReturn">
        update borrow_request
        <set>
            <if test="finishedStatus != null"> status = #{finishedStatus},</if>
            <if test="approverId != null"> return_approver_id = #{approverId},</if>
            return_approve_time = now(),
        </set>
        where id = #{id}
    </update>

    <update id="cancelRequest">
        update borrow_request
        <set>
            <if test="cancelledStatus != null"> status = #{cancelledStatus},</if>
        </set>
        where id = #{id}
    </update>

    <update id="rejectRequest">
        update borrow_request
        <set>
            <if test="rejectedStatus != null"> status = #{rejectedStatus},</if>
            <if test="approverId != null"> request_approver_id = #{approverId},</if>
        </set>
        where id = #{id}
    </update>

    <update id="confirmBorrow">
        update borrow_request
        <set>
            <if test="inUseStatus != null"> status = #{inUseStatus},</if>
        </set>
        where id = #{id}
    </update>

    <update id="requestReturn">
        update borrow_request
        <set>
            <if test="returnPendingStatus != null"> status = #{returnPendingStatus},</if>
        </set>
        where id = #{id}
    </update>


</mapper>