<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fziyo.sms.mapper.EmpMapper">
    <insert id="insert">
        Insert into t_emp(emp_no, name, gender, pwd, email) values(#{empNo}, #{name}, #{gender}, #{pwd}, #{email})
    </insert>
    <delete id="deleteByIds">
        delete from t_emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" resultType="com.fziyo.sms.model.entity.Emp">
        select
            e.*, t.team_name teamName, r.role_name roleName
            from t_emp e
            left join t_emp_team et on e.id = et.emp_id
            left join t_emp_role er on e.id = er.emp_id
            left join t_team t on t.id = et.team_id
            left join t_role r on r.id = er.role_id
        where e.id = #{id}
    </select>

    <select id="countByTeamId" resultType="java.lang.Integer">
        select count(*) from t_emp where team_id = #{id}
    </select>

    <select id="countByRoleId" resultType="java.lang.Integer">
        select count(*) from t_emp where role_id = #{id}
    </select>

    <select id="list" resultType="com.fziyo.sms.model.entity.Emp">
        select
            e.*, t.team_name teamName, r.role_name roleName
        from t_emp e
        left join t_emp_team et on e.id = et.emp_id
        left join t_emp_role er on e.id = er.emp_id
        left join t_team t on t.id = et.team_id
        left join t_role r on r.id = er.role_id
    </select>

    <update id="update">
        update t_emp
        <set>
            <if test="pwd != null and pwd != ''">pwd = #{pwd},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="email != null">email = #{email},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="accountNonExpired != null">account_non_expired = #{accountNonExpired},</if>
            <if test="credentialsNonExpired != null">credentials_non_expired = #{credentialsNonExpired},</if>
            <if test="accountNonLocked != null">account_non_locked = #{accountNonLocked},</if>
            <if test="accountEnabled != null">account_enabled = #{accountEnabled},</if>
        </set>
        where id = #{id}
    </update>


</mapper>